
<div class ="jumbotron center"> 
	<center> <h1>Hello World!</h1> 
	<p>It's Time for Ruby!</p> 
		<p> 
				Click here to <%= link_to "Sign Up", "http://www.google.com", class: "btn btn-danger btn-lg" %> . 
	</p></center>

</div>